.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;

   @media screen and (min-width: 768px) 
  //  and (max-width: 1199px) 
   {
    justify-content: center;
  }
  
   @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }  
}
.filter__item {
  margin-bottom: 15px;
  &:not(:first-child) {
    margin-left: 8px;
  }

  &:nth-child(4) {
    margin-left: 0;
  }

  @media screen and (min-width: 1200px) 
  // and (max-width: 1199px) 
  {
    margin-bottom: 0;
    &:nth-child(4) {
    margin-left: 8px;
    }
  }

}
