.team {  

@media screen and (max-width: 1199px)
 {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;  
    flex-wrap: nowrap;  
  }
}

.team__item {
  background-color: $primary-color;
  border-radius: 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);  

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
    margin-bottom: 30px;
    }
  }

  @media screen and (max-width: 1199px)  
  {
  width: calc((100% - 4 * 15px) / 2);
  margin: 15px;

    &:nth-child(n+3) {
      margin-bottom: 0;
    }
  }

   @media screen and (min-width: 1200px) {
    &:not(:last-child) {   
    margin-right: 30px;
    }
  }
}
.team__card-text {
  padding: 30px 0;
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}
.team__text {
  color: $primary-text-color;
  margin-bottom: 16px;
}
