$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-color: #ffffff;
$secondary-color: #f5f4fa;
$background-color: #2f303a;
$header-border-color: #ececec;
$icon-color: #afb1b8;
